
/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: #e7e4e3; /* Change the color code as needed */
}


.custom-link {
    text-decoration: none; /* Remove the underline */
    font-weight: bold; /* Make the text bold */
    color: inherit; /* Inherit the surrounding text color */
}

.custom-link:hover {
    text-decoration: none; /* Ensure no underline on hover */
    font-weight: bold; /* Keep bold on hover */
    color: #fafafa;
}


/* Body styles */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
    /* background-image: url('images/backgrounds/background_image_2.png'); */
    background-image: url('images/backgrounds/quantumcomputing.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
}

/* Header styles */
.header {
    width: 100%;
    /* height: 7em; */
    /* background-image: url('images/logo/final_black_1-removebg-preview.png'); */
    /* background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    text-align: center;
    color: #fff;
    margin-top: 1%;
    margin-bottom: 50px;
}
.header img {   
    max-width: 15%;
}
.header h1 {
    font-size: 1.5em;
    margin-top: 1%;
    color: #3272ab;
    /* color: #bf5009; */
    /* color: #ea760b; */
}
.header p {
    font-size: 0.9em;
    margin-top: 1%;
    margin-bottom: 20px;
    color: #cac7c8;
}



/* ------------------------------- */
/* File upload container styles */
.file-upload-container {
    width: 300px;
    margin: 50px auto;

    /* display: flex;
    justify-content: center;
    align-items: center; */

    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(86, 126, 138, 0.4);
    color: #ebebeb;
}

.file-upload-container input[type="file"] {
    display: none;
}

.file-upload-container label {
    display: block;
    margin: 20px 0;
    padding: 7px;
    background-color: #8a8987;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.file-upload-container button {
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3272ab;
    /* background-color: #0e4597; */
    color: #fff;
    cursor: pointer;
}

.file-upload-container button:hover {
    background-color: #0b326e;
}

.file-upload-container #fileList {
    margin-top: 10px;
    margin-bottom: 10px;
}

.file-upload-container #fileList p {
    /* margin: 5px 0; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-upload-container #uploadStatus {
    margin-top: 10px; /* Add margin-top to create space */
    margin-bottom: 5px; /* Add margin-top to create space */
}
/* ------------------------------- */
/* ------------------------------- */


.jobStatus-container #jobStatus{
    color: #ffffff;
}

/* ------------------------------- */
/* Options container styles */
.options-container {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(86, 126, 138, 0.4);
    text-align: left; /* Align text and options to the left */
    color: #ebebeb;
}

.options-container h3 {
    text-align: center;
    margin-bottom: 10px; 
    color: #ebebeb;
}

/* .options-container .options {
    margin-top: 50px; /* Space between options and button */
    /* margin-bottom: 50px; Space between options and button
} */

.options-container button {
    font-size: 1em;
    display: block; /* Make button a block element */
    margin: 0 auto; /* Center button horizontally */
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3272ab;
    /* background-color: #0e4597; */
    color: #fff;
    cursor: pointer;
    
}

.options-container button:hover {
    background-color: #0b326e;
}

.options-container button:disabled {
    background-color: #636569;
}
.options-container input[type="radio"] {
    margin: 7px 0;
    margin-right: 5px;
}
/* ------------------------------- */
/* ------------------------------- */



/* ------------------------------- */
/* Table container styles */
#results {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.table {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
}

.table th, .table td {
    padding: 8px;
    text-align: center;
}

.table th {
    background-color: #888787;
    color: #fff;
}

.table-striped tbody tr:nth-child(odd) {

    background-color: #91a8f3;
}

.table-striped tbody tr:nth-child(even) {
    color: #fff;    
    background-color: #656fc5;
}

.table-bordered {
    border: 1px solid #424242;
}

.table-hover tbody tr:nth-child(odd):hover {
    background-color: #e7e1e4;
}
.table-hover tbody tr:nth-child(even):hover {
    background-color: #a3a1a1;
}
/* ------------------------------- */
/* ------------------------------- */



#explanation {
    width: 40%; /* Decreased width for a smaller box */
    margin: 80px auto; /* Center the div and add vertical space */
    padding: 10px; /* Reduced padding to make the box more compact */
    background-color: #dbdbdb;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#explanation h2 {
    font-size: 0.95em;
    color: #1a1a1a;
    margin-bottom: 1px;
    margin-top: 10px;
}

#explanation p {
    font-size: 0.9em;
    line-height: 1.6;
    color: #303030;
}

#explanation strong {
    font-weight: bold;
    color: #0ab418;
}




/* ------------------------------- */
/* Loader container styles */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: 2px; 
}
.loader {
    display: none; /* Initially hidden */
    align-self: center;
    position: relative;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;;
}

.loader::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: -20px;
    border: 5px solid #007bff;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* ------------------------------- */
/* ------------------------------- */


/* ------------------------------- */
/* Buttons container styles */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.button-container button {
    flex: 1;  /* Make buttons take equal space */
    max-width: 135px;  /* Set a maximum width if needed */
    background-color: #0c8674;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    margin: 0 10px;
}
.button-container button:hover {
    background-color: #096053;
}
/* ------------------------------- */
/* ------------------------------- */





/* ------------------------------- */
/* Github link */
.github-link-container {
    margin-top: 20px;
    /* margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px; */
    text-align: center;
}

.github-link {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    /* background-color: #24292e; */
    background-color: rgba(86, 126, 138, 0.7);
    color: #ffffff;
    /* background-color: #e3eaec; */
    /* color: #1d1c1c; */
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

.github-link:hover {
    background-color: #909193;
    /* background-color: #e3eaec; */
    animation: infinite;
}

.github-logo {
    width: 44px;
    height: 24px;
    /* margin-right: 8px; */
}

/* ------------------------------- */
/* ------------------------------- */


/* ------------------------------- */
/* Github link */
.footer {
    margin-top: 20px;
    color: #cac7c8;
    font-size: 0.7em;
    text-align: center;
    position: relative; /* Optional: Position relative to adjust the layout */
    bottom: 0; /* Optional: Position at the bottom */
    width: 100%; /* Make the footer full width */
}
/* ------------------------------- */
/* ------------------------------- */

.footer {
    text-align: center;
    margin-top: 70px;
    padding: 10px;
    /* background-color: #f2f2f2; */
    color: #333;
}

.sponsor-images {
    display: flex;
    justify-content: center; /* Aligns images horizontally */
    align-items: center;     /* Aligns images vertically if needed */
    gap: 20px;               /* Space between the images */
    margin-bottom: 10px;
    margin-top: 20px;
}

/* General rule for all sponsor logos */
.sponsor-images img {
    width: 90px;   /* Base size for all images */
    height: auto;   /* Maintains aspect ratio */
}

/* Specific adjustments for ELIDEK and EU logos */
.sponsor-images img[alt="ELIDEK Logo"] {
    width: 180px;  /* Increase ELIDEK logo size */
    background-color: rgb(255, 255, 255);
}

.sponsor-images img[alt="MOSTH2 Logo"] {
    width: 200px;  /* Increase ELIDEK logo size */
}
.sponsor-images img[alt="EU Logo"] {
    width: 180px;  /* Increase EU logo size */
    background-color: rgb(255, 255, 255);
}

.footer p {
    font-size: 1em;   /* Adjust font size if necessary */
    color: #cac7c8;
}





/* ------------------------------- */
/* Progress bar container styles */
.progress-container {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
}

.progress-bar-fill {
    height: 20px;
    background-color: #28a745;
    width: 0;
    transition: width 0.25s;
}

.progress-container h3 {
    text-align: center;
}
/* ------------------------------- */
/* ------------------------------- */