body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    /* background: linear-gradient(to bottom, #cecdcd, #929191);
    min-height: 100vh; Ensures gradient covers the entire viewport */
    background-image: url('images/backgrounds/background_image_2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(0, 0, 0); /* Ensure text is readable on the background */
}
h1 {
    color: #000000;
}
h2 {
    color: #000000;
}
p {
    color: #000000;
}

.header {
    width: 100%;
    height: 120px; /* Adjust height as needed */
    background-image: url('images/logo/final_black_1-removebg-preview.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center; /* Centers any content within the header */
    color: white; /* Text color for header content */
    /* background-color: rgba(255, 255, 255, 0.8); */
}
.header h1 {
    margin-top: 10px; /* Adjust top margin to vertically center the content */
    font-size: 2.5em;
}


.file-upload-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    /* border: 2px solid #000000; */
    border-radius: 10px;
    text-align: center;
    background-color: rgba(86,126,138, 0.4);
}
.file-upload-container input[type="file"] {
    display: none;
}
.file-upload-container label {
    display: block;
    margin: 20px 0;
    padding: 7px;
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
}
.file-upload-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    cursor: pointer;
}
.file-upload-container button:hover {
    background-color: #218838;
}


.options-container {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
    /* border: 2px solid #000000; */
    border-radius: 10px;
    background-color: rgba(86,126,138, 0.4);
}
.options-container h3 {
    text-align: center;
}
.options-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    cursor: pointer;
}
.options-container button:hover {
    background-color: #218838;
}
.options-container input[type="radio"] {
margin: 7px 0; /* Adds margin top and bottom of each radio button */
margin-right: 5px; /* Adds margin to the right of each radio button */
}


.progress-container {
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}
.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
}
.progress-bar-fill {
    height: 20px;
    background-color: #28a745;
    width: 0;
    transition: width 0.25s;
}
.progress-container h3 {
    text-align: center;
}
