<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>MOFSynth</title>
    <link rel="shortcut icon" type="image/x-icon" href="/webmofsynth/images/favicon.ico">
    <link rel="stylesheet" href="/webmofsynth/static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/webmofsynth/static/script.js"></script>

</head>


<body>
    <div class="header">
        <!-- <img src="static/images/logo/final_black_1-removebg-preview.png" alt="Logo"> -->
        <img src="/webmofsynth/static/images/logo/blue.png" alt="Logo">
        <h1>A Computational tool toward synthetic likelihood predictions of MOFs</h1>
        <p>Provided by Materials Modeling & Design group of the University of Crete</p>
    </div>

    <div class="file-upload-container">
        <h3>1. Please insert your file</h3>
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" id="file" name="file" multiple onchange="showSelectedFiles()">
            <label for="file">Choose files</label>
            <div id="fileList"></div>
            <button type="button" onclick="uploadFiles()">Upload Files</button>
        </form>
        <div id="uploadStatus"></div>
    </div>
    
    <!-- <div id="uploadMessage"></div> -->

    <div class="options-container">
        <h3>2. Supercell limit (&#8491;):</h3>
        <form id="submitForm">
            <input type="radio" id="optionNone" name="option" value="none">
            <label for="optionNone">Nan</label><br>
            <input type="radio" id="option5" name="option" value="5">
            <label for="option5">>5</label><br>
            <input type="radio" id="option10" name="option" value="10">
            <label for="option10">>10</label><br>
            <input type="radio" id="option15" name="option" value="15">
            <label for="option15">>15</label><br>
            <input type="radio" id="option20" name="option" value="20">
            <label for="option20">>20</label><br>
            <button type="button" id='submitButton' onclick="submitJob()">Start Evaluation</button>
        </form>
    </div>
    
    <div class="loader-container">
        <div class="loader" id="loader"></div>
    </div>
    <!-- #<div id="jobStatus"></div> -->
    
    <div class="jobStatus-container">
        <div id="jobStatus">
        </div>
    </div>
        
    <div class="button-container">
        <button type="button" onclick="showCSV()">Show CSV</button>    
        <button type="button" onclick="downloadButton()">Download CSV</button>
    </div>
    
    <!-- <div class="progress-container">
        <h3>Progress bar</h3>
        <div class="progress-bar">
            <div class="progress-bar-fill"></div>
        </div>
    </div> -->
    
    <!-- <button type="button" onclick="fetchResults()">fetchResults</button> -->
    
    <div class="github-link-container">
        <a href="https://github.com/your-repo-url" target="_blank" class="github-link">
            <!-- <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo" class="github-logo"> -->
            <img src="/webmofsynth/static/images/GitHub_Symbol.png" alt="GitHub Logo" class="github-logo">
            Visit our GitHub Repo
        </a>
    </div>

    <footer class="footer">
        <p>Cite this work DOI<br>
        ©2024 Materials Modelling and Design Group.  GNU General Public License v3.0 only.
        </p>
    </footer>

    
</body>
</html>
